{% extends "::base.html.twig" %}
{% block body %}


<form action="" method="post" {{ form_enctype(form) }}>
    <fieldset>
  <legend>Repondre:</legend>
  <table>
      <tr><td>{{ form_label(form.destination) }} </td><td>{{ form_widget(form.destination) }}</td></tr>
      <tr><td>{{ form_label(form.subject) }} </td><td>{{ form_widget(form.subject) }}</td></tr>
      <tr> <td>{{ form_label(form.corps) }} </td><td>{{ form_widget(form.corps) }}</td></tr>
      <tr> <td>{{ form_label(form.piece_jointe) }} </td><td>{{ form_widget(form.piece_jointe) }}</td></tr>
      <tr>{{form_rest(form)}}</tr>
  </table>
  </fieldset>
 
    <input type="submit" class="btn btn-primary"/>
</form>
{#<script type="text/javascript" src="{{ asset('js/nicEdit2.js') }}"></script>
<script type="text/javascript">
	bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
</script>{#}
{% endblock %}