{% extends "::base.html.twig" %}
{% block body %}
<h3>Messages reçus :</h3>

{% if list==null%}
<div class="alert alert-info">boite de reception vide</div>
{% else %}

<table class="table table-condensed">
    <tr><td>Action</td><td>Expediteur</td><td>sujet</td><td>Reçu Le :</td></tr>
{# table body #}
{% for item in pagination %}
<tr {% if loop.index is odd %} style="background-color: #dfdfdf;font: 14px/24px sans-serif;"{% endif %}>
  <td ><a href="{{ path('delete_msg',{'id':item.id}) }}"><i class="glyphicon glyphicon-trash"></i></a>{%if item.msglu==0%}<td style="font-weight: bold;text-decoration: blink; font-size: medium;">{%else%}<td>{%endif%}{{item.user.username}}</td></td>{%if item.msglu==0%}<td style="font-weight: bold;text-decoration: blink; font-size: medium;">{%else%}<td>{%endif%}<a href="{{path('detail_msg',{'id': item.id})}}">{{item.subject}}</a></td>{%if item.msglu==0%}<td style="font-weight: bold;text-decoration: blink; font-size: medium;">{%else%}<td>{%endif%}{{item.datemsg|date("F jS \\a\\t g:ia", "Europe/Paris")}}</td>
</tr>
{% endfor %}
</table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
	{%endif%}

{% endblock %}