<link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/jquery-ui.css') }}" rel="stylesheet" type="text/css" />
<script src="{{ asset('js/bootstrap.min.js') }}" type="text/javascript"></script>
<div class="panel panel-info">
    <div class="panel-heading ">
        <div style="text-align: left; float: left; text-decoration: underline;font-size: larger">Liste des Diplômes</div>
        <div style="text-align: right">
            <a id="ajoutDiplome" class="btn btn-primary" href="#" url="{{ path('diplome_new') }}">
                Ajouter Diplôme
            </a>
        </div>
    </div>
    <div class="table-responsive">

        <table class="table table-bordered table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Titre</th>
                    <th>Periode</th>
                    <th>Niveau</th>
                    <th style="text-align: center">Actions</th>
                </tr>
            </thead>
            <tbody>
        {% for entity in entities %}
                    <tr>
                        <td><a>{{ entity.id }}</a></td>
                        <td>{{ entity.titre }}</td>
                        <td>{{ entity.periode }}</td>
                        <td>{{ entity.niveau }}</td>
                        <td style="text-align: right">

                            <a class="btn btn-danger btn-xs" href="{{ path('diplome_delete', { 'id': entity.id }) }}" onclick="return confirm('Vous êtes sûr de vouloir supprimer cette rubrique?')">Supprimer</a>

                            <a class="modifDiplome btn btn-success btn-xs" href="#" url="{{ path('diplome_edit', { 'id': entity.id }) }}">Modifier</a>

                        </td>
                    </tr>
        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div id="Diplome" style="display: none;"></div>

    <script src="{{ asset('js/jquery-1.9.1.js')}}"></script>
    <script src="{{ asset('js/jquery-ui.js') }}"></script>
    <script type="text/javascript">
                            $('#ajoutDiplome').click(function() {
                                var url = $(this).attr('url');
                                $("#Diplome").load(url, function() {
                                    $(this).dialog({
                                        height: 'auto',
                                        width: 'auto',
                                        modal: true,
                                        title: 'Ajouter Diplôme',
                                        position: 'center',
                                        overlay: {
                                            backgroundColor: '#000',
                                            opacity: 0.5
                                        },
                                        close: function() {
                                            $(this).dialog('close');
                                        }

                                    });
                                });
                            });

                            $('a.modifDiplome').click(function() {
                                var url = $(this).attr('url');
                                $("#Diplome").load(url, function() {
                                    $(this).dialog({
                                        height: 'auto',
                                        width: 'auto',
                                        modal: true,
                                        title: 'Modifier Diplôme',
                                        position: 'center',
                                        overlay: {
                                            backgroundColor: '#000',
                                            opacity: 0.5
                                        },
                                        close: function() {
                                            $(this).dialog('close');

                                        }

                                    });
                                });
                            });



        </script>