{#<link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('css/jquery-ui.css') }}" rel="stylesheet" type="text/css" />
<script src="{{ asset('js/bootstrap.min.js') }}" type="text/javascript"></script>#}


<form class="form-horizontal" action="{{ path('affectationplan_create') }}" method="post" {{ form_enctype(form) }}>
    <div class="panel-body">
        <div class="form-group">
            {{ form_widget(form) }}
            </div>
        </div>
        <div class="panel-footer" style="text-align: right">
            <p>
                <input type="button" id="btn" class="btn btn-info btn-xs" value="Ajouter"/>
            </p></div>
    </form>


    <script type="text/javascript">
        $('#gestion_emploisbundle_affectationplantype_classe').change(function() {
            var classe = $('#gestion_emploisbundle_affectationplantype_classe').val();
            $.post("{{ path('affectationplan_getmatiere') }}", {
                classe: classe
            }, function(data) {
                $('#gestion_emploisbundle_affectationplantype_matiere').empty();
                $('#gestion_emploisbundle_affectationplantype_matiere').append(data.matieres);
                $('#gestion_emploisbundle_affectationplantype_groupe').empty();
                $('#gestion_emploisbundle_affectationplantype_groupe').append(data.groupes);
            },
                    "json"
                    );
        });

        $('#btn').click(function() {

            var classe = $('#gestion_emploisbundle_affectationplantype_classe').val();
            var matiere = $('#gestion_emploisbundle_affectationplantype_matiere').val();
            var groupe = $('#gestion_emploisbundle_affectationplantype_groupe').val();
            var prof = $('#gestion_emploisbundle_affectationplantype_prof').val();
            //alert(chapitres);
            $.post("{{ path('affectationplan_ajouterAffectation') }}", {
                classe: classe,
                matiere: matiere,
                groupe: groupe,
                prof: prof
            }, function(data) {
                alert(data.msg);
                $('#Affectation').dialog('close');
                self.location.reload();
            },
                    "json"
                    );

        });
        </script>

